<template>
    <div>
        <div v-bind:key="todo.id" v-for="todo in todos">
            <TodoItem v-on:del-todo="$emit('del-todo' , todo.id)" v-bind:todo="todo" /> 
        </div>
    </div>
</template>

<script>

import TodoItem from './TodoItem';

export default {
    name: 'Todos',
    props: {
        todos: Array
    },
    components: {
        TodoItem
    }
}
</script>

<style scoped>
h1 {
    color: blue;
}
</style>
